body {
  background-image: url("https://wallpaperaccess.com/full/1320758.jpg");
  height: 100vh;
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: cover;
}

.buttons {
  padding-top: 1%;
}

.btn {
  background-color: pink;
  border-radius: 50px;
  font-size: 30px;
  padding: 10px;
  border: none;
  margin: 0 0 20px 10px;
}

.btn:hover {
  background-color: lightblue;
  transition: .9s;
}