body {
  background-image: url("https://mcdn.wallpapersafari.com/medium/8/1/FqEYG7.jpg");
  background-repeat: no-repeat;
  background-size: auto;
}

.buttons {
  padding-top: 1%;
}

.btn {
  text-decoration: none;
  color: black;
  background-color: pink;
  border-radius: 50px;
  font-size: 30px;
  padding: 10px;
}

.btn:hover {
  background-color: lightblue;
  transition: .9s;
}