.js-delete{
  background-image: url('media/del-btn.png');
  background-size: cover;
  height: 30px;
  width: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  align-items: center;
}

.center-cell {
  text-align: center;
  border-bottom: black solid 2px;
  padding-top: 30px;
}

.item-cell{
  width: 200px;
  border-bottom: black solid 2px;
}

.homeBtn{  
  background-color: #FE7F9C;
  border-radius: 30px;
  border: #FE7F9C 5px solid;
  font-family: 'Times New Roman', Times, serif;
  padding-inline: 10px;
  font-size: clamp(20px, 4vw, 50px);
  text-decoration:none;
  color: black;
}