body {
  background-image: url("media/brain2.jpg");
  height: 100%;
  background-position-x: 70%;
  background-position-y: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  background-color: rgb(31, 90, 179);
  font-size: 50px;
  border: black solid 3px;
  border-radius: 10px;
  color: black;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.missing {
  font-size: 25px;
  font-weight: bold;
}

#missing {
  font-size: 25px;
  text-align: center;
  font-family: serif;
  border: black solid 2px;
  padding: 3px;
}

#a {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  color: white;
  text-shadow: 3px 3px #000000;
}

#given {
  font-size: 20px;
  border: black 3px solid;
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(86, 70, 145);
  font-weight: 400;
  max-width: 500px;
  font-weight: bold;
}

button {
  border: black 3px solid;
  border-radius: 10px;
  color: navy;
  background-color: rgb(107, 157, 231);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

button:hover {
  border: white 3px solid;
  color: white;
  background-color: black;
}

#reset:hover {
  border: black 3px solid;
  color: black;
  background-color: red;
}

#solve:hover {
  border: white 3px solid;
  color: white;
  background-color: green;
}

#givenAOC {
  width: 150px;
}

#btn {
  border: black 3px solid;
  border-radius: 10px;
}

#btn-work:hover {
  color: transparent;
  background-size: cover;
  background-image: url("media/pushing.gif");
}

#btn-power:hover {
  color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("media/lifting.gif");
  background-color: white;
}

#btn-power {
  background-position: center;
}

#btn-PE:hover {
  color: transparent;
  background-size: 20% 100%;
  background-image: url("media/swinging.gif");
  background-color: white;
}

#btn-KE:hover {
  color: transparent;
  background-size: 20% 100%;
  background-image: url("media/walking.gif");
  background-color: white;
}

#btn-EPE:hover {
  color: transparent;
  background-size: 100% 100%;
  background-image: url("media/spring.gif");
  background-color: white;
}

#answer {
  border: none solid 2px;
  border-radius: 5px;
  font-size: 25px;
  font-weight: 800;
  padding-block: 2px;
  padding-bottom: 5px;
}